*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-family: Helvetica;
				border: none;
}
body {
				background-color: #000020;
				overflow: hidden;
}

.alog{
				display: flex;
				height: 100vh;
				justify-content: center;
				align-items: center;
				
}
.log{
				color: whitesmoke;
				background: #000000;
				width: 555px ;
				height: 500px;
				padding: 50px;
				border-radius: 20px;
				
}
.log h1{
				text-align: center;
				
}
.log form{
				display: flex;
				flex-direction: column;
}
.log label{
				margin-top: 10px;
}
.log input{
				padding-left: 10px;
				margin-top: 10px;
				background-color: #212121;
				color: #e0e0e0;
				border: none;
				height: 50px;
				outline: #191d3d;
				border-radius: 10px;
}
input::placeholder{
				font-size: 15px;
				color: #555555;
}
form [type="submit"]{
				display: block;
				background-color: #220fb2;
				font-size: 18px;
				text-transform: uppercase;
				font-weight: bold;
}
a{
				padding: 8px;
				color: #220fb2;
				text-decoration: none;
}

